##################################################################################
### VENDOR_EDIT, OPPO All rights reserved.
### 
### File: - init.oppo.init.nosd.rc
### Author: Zhilong.Zhang@OnlineRd.Driver
### 
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### Zhilong.Zhang@OnlineRd.Driver   2014-03-12               Create this file
### Fangfang.Hui@Prd.Android        2014-06-24               Modify for 4.4
##################################################################################
#ifdef VENDOR_EDIT
#Zhilong.Zhang@OnlineRd.Driver, 2014/03/12, Modify for support different init rc
on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    #Jianhua.sun@Swdp.Android.boot&charge, 2014/08/18, delete for cts
    #mkdir /storage 0050 system sdcard_r
    mkdir /storage/emulated 0555 root root
    mkdir /storage/emulated/legacy 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated


    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

#Fangfang.Hui@Prd.Android, 2014/06/24, Modify for support OTG device
    mkdir /mnt/media_rw/UDiskA 0700 media_rw media_rw
    mkdir /storage/UDiskA 0700 root root
    symlink /storage/UDiskA /mnt/UDiskA
    #mkdir /mnt/media_rw/UDiskB 0700 media_rw media_rw
    #mkdir /storage/UDiskB 0700 root root
    #symlink /storage/UDiskB /mnt/UDiskB
    #mkdir /mnt/media_rw/UDiskC 0700 media_rw media_rw
    #mkdir /storage/UDiskC 0700 root root
    #symlink /storage/UDiskC /mnt/UDiskC
    #mkdir /mnt/media_rw/UDiskD 0700 media_rw media_rw
    #mkdir /storage/UDiskD 0700 root root
    #symlink /storage/UDiskD /mnt/UDiskD
    #mkdir /mnt/media_rw/UDiskE 0700 media_rw media_rw
    #mkdir /storage/UDiskE 0700 root root
    #symlink /storage/UDiskE /mnt/UDiskE
    #mkdir /mnt/media_rw/UDiskF 0700 media_rw media_rw
    #mkdir /storage/UDiskF 0700 root root
    #symlink /storage/UDiskF /mnt/UDiskF

#Fangfang.Hui@Prd.Android, 2014/06/24, Add for single partion sdcard
#service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start
# Binding fuse mount point to /storage/emulated/legacy
on property:init.svc.sdcard=running
    wait /mnt/shell/emulated/0
    mount none /mnt/shell/emulated/0 /storage/emulated/legacy bind

#endif /* VENDOR_EDIT */

#ifdef VENDOR_EDIT
#LinJie.Xu@Prd.Android.USB, 2014/06/12, Add for support odb, MSM_14001 does not support
# odbd is controlled via property triggers in init.<platform>.usb.rc
service odbd /sbin/odbd
    class core
    socket odbd stream 660 system system
    disabled
#endif /* VENDOR_EDIT */
