# For text relocations in /system/vendor/lib/libmmjpeg.so
allow mediaserver system_file:file execmod;
allow mediaserver system_data_file:sock_file write;
