allow toolbox init:unix_stream_socket read;
allow toolbox init:unix_stream_socket write;
allow toolbox init:unix_stream_socket connectto;
allow toolbox system_block_device:blk_file read;
allow toolbox system_block_device:blk_file open;
allow toolbox system_block_device:blk_file ioctl;
allow toolbox labeledfs:filesystem remount;
allow toolbox zygote_exec:file getattr;
allow toolbox shell_exec:file getattr;
allow toolbox property_socket:sock_file write;
allow toolbox toolbox:capability sys_admin;
allow toolbox kernel:process setsched;
allow toolbox rootfs:dir write;
allow toolbox shell_exec:file read;
