#
# Copyright 2014 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import /init.qcom-common.rc

on fs
    mount_all ./fstab.bacon
    restorecon_recursive /persist
    setprop ro.crypto.fuse_sdcard true

on early-init
    chown system system /sys/kernel/debug/kgsl/proc
    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/mmcblk0/bdi/read_ahead_kb 512
   
on init
    # See storage config details at http://source.android.com/tech/storage/
    chmod 0701 /mnt/media_rw
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    mkdir /storage/usbdisk 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/usbdisk

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

on post-fs
    export LD_PRELOAD /vendor/lib/libNimsWrap.so

on post-fs-data
    # Torch
    chown system camera /sys/class/leds/torch-light/brightness
    chmod 0660 /sys/class/leds/torch-light/brightness

    #Create OPPO NV item directory
    mkdir /data/opponvitems 0771 radio radio

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

on boot
    # Camera Recording
    mkdir /dev/video
    symlink /dev/video32 /dev/video/venus_dec
    symlink /dev/video33 /dev/video/venus_enc

    # create symlink for fb1 as HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # MDP idle notifier
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time

    # setup permissions for fb1 related nodes
    chown system graphics /sys/class/graphics/fb1/hpd
    chown system graphics /sys/class/graphics/fb1/vendor_name
    chown system graphics /sys/class/graphics/fb1/product_description
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/vendor_name
    chmod 0664 /sys/devices/virtual/graphics/fb1/product_description

    # Subsytem Restart
    #adsp
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
    #modem
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"
    #venus
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "related"

    # Create directory used by sensor subsystem
    mkdir /persist/sensors 0775 system root
    write /persist/sensors/sensors_settings 1
    chmod 0644 /persist/sensors/sensors_settings
    chown system root /persist/sensors/sensors_settings
    mkdir /data/misc/sensors 0775 system system
    restorecon_recursive /data/misc/sensors

    # Touchscreen
    chown system radio /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

    chown root system /proc/touchpanel/camera_enable
    chmod 0660 /proc/touchpanel/camera_enable

    chown root system /proc/touchpanel/music_enable
    chmod 0660 /proc/touchpanel/music_enable

    chown root system /proc/touchpanel/flashlight_enable
    chmod 0660 /proc/touchpanel/flashlight_enable

    chown root system /proc/touchpanel/keypad_enable
    chmod 0660 /proc/touchpanel/keypad_enable

    chown system system /sys/devices/virtual/graphics/fb0/cabc
    chmod 0660 /sys/devices/virtual/graphics/fb0/cabc

    chown system system /sys/devices/virtual/graphics/fb0/sre
    chmod 0660 /sys/devices/virtual/graphics/fb0/sre

    chown system system /sys/devices/virtual/graphics/fb0/color_enhance
    chmod 0660 /sys/devices/virtual/graphics/fb0/color_enhance

    chown system system /sys/devices/virtual/graphics/fb0/rgb
    chmod 0660 /sys/devices/virtual/graphics/fb0/rgb

    chown system system /sys/devices/virtual/graphics/fb0/dyn_pu
    chmod 0660 /sys/devices/virtual/graphics/fb0/dyn_pu

    chown system system /sys/class/timed_output/vibrator/vtg_level
    chown system system /sys/class/timed_output/vibrator/vtg_max
    chown system system /sys/class/timed_output/vibrator/vtg_min
    chmod 0644 /sys/class/timed_output/vibrator/vtg_level
    chmod 0644 /sys/class/timed_output/vibrator/vtg_max
    chmod 0644 /sys/class/timed_output/vibrator/vtg_min

on charger
    # Enable Power modes and set the CPU Freq Sampling rates
    write /sys/module/lpm_levels/enable_low_power/l2 2
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 300000
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0

