allow init app_data_file:dir { read write getattr setattr relabelfrom relabelto add_name remove_name search open };
allow init app_data_file:file { read write create getattr setattr relabelfrom unlink execute execute_no_trans open };
allow init fuse:dir { read write getattr setattr lock relabelfrom relabelto unlink rename execute swapon mounton add_name remove_name search rmdir open execmod };
allow init fuse:file { read write create getattr setattr relabelfrom relabelto unlink execute mounton execute_no_trans open };
allow init init:capability { sys_admin };
allow init platform_app:process { fork transition sigstop signull signal getsched getsession getcap setcap getattr setrlimit rlimitinh execmem setkeycreate setsockcreate };
allow init recovery:process { transition signull noatsecure siginh rlimitinh };
allow init rootfs:dir { relabelfrom relabelto};
allow init rootfs:file { write create setattr relabelto unlink execute_no_trans };
allow init shell:process { transition signull siginh rlimitinh };
allow init shell_data_file:dir { write relabelfrom add_name remove_name };
allow init shell_data_file:file { read write create setattr relabelfrom unlink execute execute_no_trans open };
allow init system_app:process { fork transition sigchld sigkill signull signal setpgid getcap setcap getattr setfscreate setrlimit rlimitinh execmem execstack execheap setsockcreate };
allow init system_app_data_file:file { execute execute_no_trans };
allow init system_file:dir { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link execute swapon mounton add_name remove_name reparent search rmdir open };
allow init system_file:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
allow init system_file:lnk_file { create unlink };
allow init toolbox_exec:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
allow init untrusted_app:process { transition sigstop signull signal getsched setsched getsession getpgid getcap setcap getattr setexec setfscreate noatsecure setrlimit rlimitinh execstack setkeycreate setsockcreate };
allow init zygote:process getattr;
allow init zygote_exec:file { write create setattr relabelfrom relabelto unlink mounton execute_no_trans };
allow platform_app platform_app:capability { chown dac_override dac_read_search kill setgid setuid setpcap net_bind_service net_raw ipc_lock sys_chroot sys_pacct sys_admin sys_boot sys_resource audit_write audit_control };
type_transition init toolbox_exec:process init;
permissive recovery;
