allow recovery app_data_file:dir { read write getattr setattr relabelfrom relabelto add_name remove_name search open };
allow recovery app_data_file:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
allow recovery block_device:blk_file { read getattr setattr lock relabelto unlink execute swapon mounton };
allow recovery devpts:chr_file { ioctl read write getattr open };
allow recovery fuse:dir { read write getattr setattr relabelfrom relabelto add_name remove_name search open };
allow recovery fuse:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
allow recovery init:fifo_file { ioctl read write getattr };
allow recovery init:unix_stream_socket { read write connectto };
allow recovery kernel:process { fork transition sigkill signull signal getsched setsched getsession getcap setcap setexec siginh setrlimit rlimitinh execmem execstack execheap setsockcreate };
allow recovery platform_app:process { getattr };
allow recovery recovery:capability { dac_override fsetid setgid setuid sys_ptrace };
allow recovery rootfs:dir { read write getattr setattr relabelfrom relabelto add_name remove_name search open };
allow recovery rootfs:file { read write create getattr setattr lock relabelfrom relabelto append unlink link execute swapon mounton execute_no_trans entrypoint execmod open audit_access };
allow recovery rootfs:filesystem { remount relabelfrom relabelto transition quotamod };
allow recovery shell_data_file:dir { read write getattr setattr relabelfrom relabelto add_name remove_name search open };
allow recovery shell_data_file:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
allow recovery system_app:process { getattr };
allow recovery system_app_data_file:dir { read write getattr setattr relabelfrom relabelto add_name remove_name search open };
allow recovery system_app_data_file:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
allow recovery system_file:dir { read write create getattr setattr relabelfrom relabelto add_name remove_name search open };
allow recovery system_file:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
allow recovery system_file:lnk_file { create unlink };
allow recovery system_server:process { fork sigkill signull signal setsched getsession getpgid getcap setcap getattr noatsecure setrlimit rlimitinh execstack setkeycreate setsockcreate };
allow recovery toolbox:fd { use };
allow recovery toolbox_exec:file { write create setattr relabelfrom relabelto unlink };
allow recovery untrusted_app:process { getattr };
allow recovery untrusted_app:unix_stream_socket { read write connectto };
allow recovery untrusted_app_devpts:chr_file { ioctl read write getattr open };
allow recovery zygote:process { transition sigchld signull signal getsched getsession setpgid getcap setcap getattr setexec siginh setrlimit rlimitinh setcurrent execstack setsockcreate };
allow recovery zygote_exec:file { read write create getattr setattr relabelfrom relabelto unlink execute execute_no_trans open };
permissive recovery;
